<!-- begin spinner -->
<ng-container *ngIf="(isLoading$ | async)">
    <div class="loader1" role="status" aria-label="Cargando"></div>
    <div class="overlay1" aria-hidden="true"></div>
</ng-container>
<!-- end spinner -->


<!-- CABECERA DE MODAL -->
<app-modal-header 
    [title]="title"
    (onClose)="modal.close('Close click')"
></app-modal-header>



<div class="modal-body">
    <form [formGroup]="form" class="form-validate form-horizontal small p-2" novalidate="" style="margin-top: -15px;">    
        <div class="row">

            <div class="col-6 col-md-6 col-lg-4">
                <app-campoTexto
                    [control]="form.controls['nombre']"
                    label="NOMBRE"
                    placeholder="NOMBRE"
                    [maxLength]="100"
                    [soloLetras]="false"
                    [mayusculas]="true"
                    [noEspacios]="true"
                    [trimEspacios]="true"
                ></app-campoTexto>
            </div>
        
            <div class="col-4 col-md-3 col-lg-2">
                <app-campoNumeroEntero
                    [control]="form.controls['inactividad']"
                    label="Inactividad"
                    placeholder="Inactividad"
                    title="Tiempo de Inactividad en Segundos. &#10;Si es 0, estará desactivado este servicio."
                    [maxLength]="3"
                ></app-campoNumeroEntero>
            </div>
        
            <div class="col-2 col-md-3 col-lg-2 mt-4">
                <app-checkbox
                    [control]="form.controls['activo']"
                    [label]="'Activo'"
                    [id]="'ck-isactive'"
                ></app-checkbox>                
            </div>
        

        

        </div>
        
    </form>
    
    
<div *ngIf="profile"  style="margin-top: -30px">
  <!-- Contenedor del buscador: arriba del grid, alineado a la derecha -->
  <div class="d-flex justify-content-end m-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <app-campoBusqueda
        [id]="'filter-text-box22'"
        [placeholder]="'Buscar...'"
        [iconClass]="'fa fa-search fa-lg'"
        [containerClass]="'w-100'"
        (searchChange)="onFilterTextBoxChanged()"
      ></app-campoBusqueda>
    </div>
  </div>

  <!-- Grid -->
   <div style="margin-top: -13px;">
       <ag-grid-angular 
         [rowData]="profile.acceso" 
         [columnDefs]="columnDefs"
         [style.height]="'380px'"            
         [defaultColDef]="_appAgGridService.defaultColDef" 
         [sideBar]="_appAgGridService.sideBar" 
         [rowHeight]="_appAgGridService.rowHeight" 
         [headerHeight]="_appAgGridService.headerHeight"
         [localeText]="_appAgGridService.localeText"
         [rowSelection]="'single'"
         [pagination]="false"
         [animateRows]="true" 
         [cacheQuickFilter]="true" 
         [context]="{ componentParent: this }"
         class="ag-theme-alpine ag-grid-transparente p-2"
         (gridReady)="onGridReady($event)" 
         (cellClicked)="onCellClicked($event)" 
       ></ag-grid-angular>
   </div>
</div>
    
</div>




<!-- PIE DE MODAL -->
<app-modal-footer
    [isDisabled]="!isdisabled"
    (onClose)="modal.close('Close click')"
    (onSubmit)="onSubmitForm($event)">
</app-modal-footer>


