<div
  style="
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 16px 0;
  "
>
  Render ChartJS into PDF using html2canvas and jsPDF
</div>

<div
  class="main"
  id="pdfContent"
  #content
  style="
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  "
>
  <div class="chart" style="width: 50%; height: 50%">
    <canvas id="myChart"></canvas>
  </div>
</div>

<div
  style="
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
  "
>

  <button (click)="downloadPDF()" style="margin-top: 30px">Download PDF</button>
</div>
