<!-- begin spinner -->
<ng-container *ngIf="(isLoading$ | async)">
  <div class="loader1" role="status" aria-label="Cargando"></div>
  <div class="overlay1" aria-hidden="true"></div>
</ng-container>



<app-modal-header 
    [title]="'🔑    Cambiar Contraseña'" 
    (onClose)="modal.close('Close click')">
</app-modal-header>

<div class="modal-body">
  <form [formGroup]="form" class="p-3">

      <!-- Campo Login -->
      <div class="mb-1">
        <app-campoTexto 
          [control]="form.controls['login_user']" 
          label="Nombre de Usuario" 
          placeholder="Nombre de Usuario" 
          [maxLength]="255" 
          [trimEspacios]="true" 
          [mayusculas]="true">
        </app-campoTexto>
      </div>

    <!-- Campo Email -->                
    <div class="mb-1">
    <app-campoEmail
      [control]="form.controls['email']"
      label="Correo Electrónico"
      placeholder="ejemplo"
      [maxLength]="255"
      [required]="true"
      [trimEspacios]="true"
      [sinEspacios]="true">
    </app-campoEmail>
    </div>

    

    <!-- Nueva contraseña -->
    <div class="mb-1">
      <app-campoClave 
        [control]="form.controls['new_password']"
        label="Nueva Contraseña"
        placeholder="Ingrese nueva contraseña"
        [maxLength]="50"
        [minLength]="8"
        [requiereMayuscula]="true"
        [requiereMinuscula]="true"
        [requiereNumero]="true"
        [requiereEspecial]="true"
        [sinEspacios]="true"
        [trimEspacios]="true"
        [mostrarRequisitos]="true"
        [mostrarBarraFortaleza]="true"
        >
      </app-campoClave>
    </div>

    <!-- Confirmar nueva contraseña -->
    <div class="mb-1">
      <app-campoClave 
        [control]="form.controls['new_password_confirmation']"
        label="Confirmar Nueva Contraseña"
        placeholder="Confirme nueva contraseña"
        [maxLength]="50"
        [minLength]="8"
        [requiereMayuscula]="true"
        [requiereMinuscula]="true"
        [requiereNumero]="true"
        [requiereEspecial]="true"
        [sinEspacios]="true"
        [trimEspacios]="true"
        [mostrarRequisitos]="false"
        [mostrarBarraFortaleza]="false"
        >
      </app-campoClave>      
      <small class="text-danger msg-requerido" *ngIf="form.errors?.['passwordMismatch'] && (form.get('new_password_confirmation')?.touched || form.get('new_password_confirmation')?.dirty)" >
        Las contraseñas no coinciden
      </small>



    </div>
  </form>
</div>

<div class="modal-footer">
    <div class="restar-buttons">
        <button class="btn btn-oval btn-danger equal-width-button" (click)="modal.close('Close click')" type="button">
            <i class="bi bi-x-circle"></i><span class="m-2">Salir</span>
        </button>
    </div>
  <div class="save-buttons" *ngIf="!isdisabled">
        <button class="btn btn-primary equal-width-button" type="submit" (click)="onSubmit()">
            <i class="bi bi-save"></i><span class="m-2">Guardar</span>            
        </button>
    </div>
</div>



