<div class="col-md">

  <div class="form-floating combo-floating mb-3 mb-md-0"
       [class.is-focused]="isFocused || isDropdownOpen"
       [class.is-disabled]="disabled">

    <ng-select
      class="combo-select"
      [items]="items"
      [bindLabel]="bindLabel"
      [bindValue]="bindValue"
      [labelForId]="idCampo"
      [disabled]="disabled"
      [clearable]="!disabled"
      [placeholder]="''"
      [notFoundText]="'Sin resultados'"
      [clearAllText]="'Limpiar'"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (open)="onDropdownOpen()"
      (close)="onDropdownClose()"
      [ngClass]="{
        'is-invalid': esInvalido,
        'is-valid': esValido
      }">
    </ng-select>

    <label [for]="idCampo" class="combo-label d-flex align-items-center fs-13px" [class.active]="isFloating || !!value">
      {{ label }}
    </label>

  </div>

  <!-- Mensajes de error (mismo bloque que app-campoTexto) -->
  <div class="input-group with-focus">
    <label class="col-lg-12 col-form-label text-lg-left"></label>
    <small class="text-danger msg-requerido" *ngIf="control?.hasError('required') && (control?.dirty || control?.touched)">
      Es requerido.
    </small>
  </div>

</div>
