<!-- INICIO breadcrumb -->
<ol class="breadcrumb" style="display: flex; justify-content: flex-end; width: 100%; margin: 0;">
    <li class="breadcrumb-item"><a (click)="fun_home();">Configuración</a></li>
    <li class="breadcrumb-item active">Departamentos</li>
</ol>
<!-- FIN breadcrumb -->



<!-- INICIO PANEL -->
<panel 
    [title]="title"
    [noButton]="false" 
    [noButtonCollapse]="true" 
    [ButtonPrint]="accesoModel.reporte === true ? true : false"
    [ButtonExportExcel]="accesoModel.reporte === true ? true : false"
    [ButtonExportCsv]="accesoModel.reporte === true ? true : false"
    (panelReloaded)="allDepartamentos()" 
    (panelExpanded)="ajustarTamanoGrid()" 
    (panelPrinted)="printPdf()"  
    (panelExportExceled)="exportExcel()" 
    (panelExportCsved)="exportCsv()" >
    



    <!--    INICIO BODY    -->
    <div class="content-container1">


        <!--    INICIO SPINNER    -->
        <ng-container *ngIf="(isLoading$ | async)">
          <div class="loader1"></div>
          <div class="overlay1"></div>
        </ng-container>
        <!--    FIN SPINNER    -->


        <!-- INICIO CAMPO TEXTO DE BUSQUEDA Y DE FILTROS-->
        <div class="row g-2 m-2 align-items-center">

            <div class="col-auto pe-1">  <!-- pe-0 quita padding derecho -->
              <button (click)="clearAllFilters()" class="btn btn-sm btn-outline-secondary">
                <i class="fas fa-filter-circle-xmark" title="Quitar Filtros"></i>
              </button>
            </div>

            <div class="col position-relative">
              <app-campoBusqueda
                [id]="'filter-text-box'"
                [placeholder]="'Buscar'"
                [iconClass]="'fa fa-search fa-lg'"
                [containerClass]="'position-relative w-100'"
                (searchChange)="onFilterTextBoxChanged()">
              </app-campoBusqueda>
            </div>

            <div class="col-auto">
              <button
                class="inactivo btn btn-primary d-flex align-items-center justify-content-center square-btn rounded-3"
                title="Agregar Perfil"
                [disabled]="accesoModel.crear === false"
                (click)="addDepartamento()">
                <i class="fa fa-plus"></i>
              </button>
            </div>

            <div class="col-auto" *ngIf="accesoModel.auditar === true">
              <button
                class="btn btn-warning d-flex align-items-center justify-content-center square-btn rounded-3"
                title="Ver Auditoria de registro seleccionado"
                [disabled]="!selectedRow"
                (click)="auditoria()">
                <i class="fa fa-key"></i>
              </button>
            </div>            

        </div>
        <!-- FIN CAMPO TEXTO DE BUSQUEDA Y DE FILTROS-->  
                            
              
        <!-- INICIO AG-GRID -->
        <ag-grid-angular 
          [rowData]="departamentoModel" 
          [columnDefs]="columnDefs"
          [defaultColDef]="_appAgGridService.defaultColDef" 
          [sideBar]="_appAgGridService.sideBar" 
          [rowHeight]="_appAgGridService.rowHeight" 
          [headerHeight]="_appAgGridService.headerHeight "
          [localeText]="_appAgGridService.localeText"
          [rowSelection]="'single'"
          [pagination]="true"
          [animateRows]="true" 
          [cacheQuickFilter]="true" 
          class="ag-theme-alpine zebra-grid ag-grid-transparente p-2 "
          (gridReady)="onGridReady($event)" 
          (cellClicked)="onCellClicked($event)" 
        ></ag-grid-angular>
        <!-- FIN AG-GRID -->


    </div>
    <!--   FIN BODY    -->
  





</panel>
<!-- FIN PANEL -->